/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* # Our Style */
*{
	box-sizing: border-box;
}
body{
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}

h2,h3,h4{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
/* General */
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 32px;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.padding{
	padding: 80px 0;
}

/* Header */
.header{
	background-color: gray;
	padding: 22px 0;
	position: fixed;
	width: 100%;
}
.brand img{
	width: 80px;
}
.nav a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17px;
	margin-left: 15px;
}
/* main content */

.col-1{
	width: 48%;
}
.article-heading{
	font-size: 28px;
	font-weight: bolder;
	margin-bottom: 14px;
	color: rgb(26, 26, 87);
}
.galary-heading{
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	color: rgb(26, 26, 87);
	margin-bottom: 20px;
}
.article-text{
	font-size: 17px;
	color: #777;
}
.section{
	padding-top: 180px;
	background-color: aquamarine;
}
.section .flex{
	align-items: flex-start;
}
.article-img{
	width: 100%;
	height: 300px;
	object-fit: cover;
	border: 3px solid #22396a;
	border-radius: 7px;
}

/* Galary */
.col-1-3{
	width: 31.33%;
	margin-bottom: 10px;
}
.Galary-img{
	width: 100%;
	height: 250px;
	object-fit: cover;
}
.Galary-section .flex{
	flex-wrap: wrap;
}

/* Footer Section */

.footer{
	background-color: #9d9a9a;
	padding: 20px;
}
.Footer-nav{
	text-align: center;
}
.Footer-nav a{
	text-decoration: none;
	color: rgb(51, 83, 163);
	margin-left: 18px;
}

/* Top Btn */
.top-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: orangered;
	color: rgb(6, 228, 6);
	border-radius: 50%;
	padding: 10px;
	text-decoration: none;
	font-size: 30px;
	position: fixed;
	right: 50px;
	bottom: 40px;
}